body
{
    background-color: #7014f2;
}
.list , .todo 
{
    background-color: #00f59b;
    box-shadow: 0 15px 70px rgba(0, 0, 0,0.9);
}
label{
    margin-left: 20px;
    font-size: 40px;
    font-weight:bolder;
    
}
.todo
{
    height: 150px;
    width: 660px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 20px;
    
}
input[type=text]
{
    height: 40px;
    width: 380px;
    border-radius: 40px;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 60px;
    padding-left: 20px;
}
.submit
{
    height: 45px;
    width: 120px;
    margin-left: 30px;
    border-radius: 20px;
    font-size: 15px;
    background-color: #040504;
    color: white;
}
.submit:hover
{
    opacity: 0.7; 
}
.list
{
    height: 500px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 20px;
    overflow-y: auto;

}
table th{
    font-size: 25px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-family:Roboto ;
}
#delete
{
    margin-left: 50px;
    height: 40px;
    width: 130px;
    background-color: rgb(255, 13, 13);
    font-size: 20px;
    

}
#delete:hover
{
    opacity: 0.9;
    
}
#complete
{
    margin-left: 20px;
    height: 40px;
    width: 130px;
    background-color: rgb(3, 255, 16);
    font-size: 20px;

}
#complete:hover
{
    opacity: 0.9;
    
}
